.search-container {
    max-width: 300px;
  }
  
  .border-rounded {
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 0.25rem;
  }
  
  .button-container {
    width: 100%; 
  }
  
  .btn-danger {
    background-color: #ff4500;
    border-color: #ff4500;
    padding: 0.5rem 1rem;
  }
  
  .border-0 {
    border: none;
  }
  
  .home-page-row {
    padding-top: 20px;
    padding-left: 2rem;
    padding-right: 1rem;
  }
  
  .create-topic-button-container {
    width: 100%; 
    padding-right: 6rem;
    padding-top: 20px;
  }
  
  .content-container {
    padding-top: 20px;
  }
  .post-details {
    border: 2px solid #ccc;       
    padding: 15px;               
    margin: 10px 0;              
    border-radius: 10px;          
    background-color: #f9f9f9;    
    width: 75%;                  
    box-sizing: border-box;       
  }
  
  