
.vh-100 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    position: relative;
    background-color: #f0f0f0;
}

.signup-container {
    display: flex;
    width: 865px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.signUp-section {
    background-color: white;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

.logIn-section {
    background-color: #dc3545;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-logIn, .btn-signUp {
    width: 40%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px; 
    border: none;
    cursor: pointer;
}

.btn-signUp {
    background-color: #dc3545;
    color: white;
}

.btn-logIn {
    background-color: white;
    color: #1E6C87;
}

.error-text {
    color: red;
    font-size: 0.65rem; 
    text-align: left;   
    width: 80%;          
    margin-left: auto;
    margin-right: auto;
    padding: 0;          
}
